
<div>
 <!-- side-bar starts -->
  <nav class="app-font-family sidebar-css side-bar-block page-background top-dist" style="z-index:3;width:250px;" id="mySidebar">
    <div class="app-component-container logo-background app-component-display-container app-component-padding-16">
      <i class="fa fa-remove appcomponent-hide-large appcomponent-button appcomponent-display-topright"></i>
      <h3 (click)="openMenu()" class="appcomponent-wide">
        <b><img class="rock-icons" src="./assets/images/r-3-l-logo-application.svg"></b>
      </h3>
    </div>
    <div class="navigate-content">NAVIGATE</div>
    <div class="appcomponet-large appcomponent-text-grey" style="font-weight:bold;margin-bottom:20%;">
      <a routerLink = "analytics" class="side-bar-item side-bar-button">
        <div class="side-bar-button-content">
          <img style="margin-right:1vw;" src="./assets/images/analitycs.svg">
          <div>Analytics</div> 
        </div>
      </a>
      <a  routerLink = "news" class="side-bar-item side-bar-button">
        <div class="side-bar-button-content">
          <img style="margin-right:1vw;" src="./assets/images/newspaper-o.svg">
          <div>News</div> 
        </div>
      </a>
      <a href="#" class="side-bar-item side-bar-button">
        <div class="side-bar-button-content">
          <img style="margin-right:1vw;" src="./assets/images/board-brief.svg">
          <div>Board Brief</div> 
        </div>
      </a>
      <a href="#" class="side-bar-item side-bar-button">
        <div class="side-bar-button-content">
          <img style="margin-right:1vw;" src="./assets/images/briefcase.svg">
          <div>Briefcase</div> 
        </div>   
      </a>
    </div>
    <a  (click)="closeMenu()" class="appcomponent-bar-item appcomponent-button appcomponent-padding close-menu">
      <div class="side-bar-button-content">
        <img style="margin-right:1vw;" src="./assets/images/angle-double-left.svg">
        <div>Close menu</div> 
      </div>   
    </a> 
  </nav> 
<!-- side-bar ends -->
  <!-- header starts-->
  <header class="app-font-family top-header-container screen-xlarge">
    <img style="padding: 25px 0px;" (click)="openMenu()" src="./assets/images/r-3-l-logo-application-02.png">
    <p class="appcomonent-right">
      <i class="appcomponent-margin-right">Admin Name</i>
      <i> <img src="./assets/images/shape.svg"/> </i>
    </p>
  </header>
  <!-- header ends-->
 
  <!-- overlay component -->
  <div class=" app-font-family appcomponet-overlay appcomponent-hide-large" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
   
  <!-- component container starts-->
  <div class="app-font-family" style="margin-left:250px">
    <div class="app-font-family appcomponent-hide-large" style="margin-top:83px"></div>
    <div>
      <!-- loaded component -->
      <router-outlet> </router-outlet>
    </div>
  </div>
  <!-- component container ends-->

</div>




