<!-- analytics component -->
<div class="charts-container">
	<div class="chart-one">
	  <div class="chart-title">Speed zones</div>
	  <div style="display:flex;align-items:center;">
			<div class="canvas-container"><canvas id="canvas" style="display: inline-block;"></canvas></div>
			<div class="zone-container">
				<div><i class="fa fa-check-square" aria-hidden="true" style="color:orange;padding-right:0.8vw;"></i>zona 01</div>
				<div><i class="fa fa-check-square" aria-hidden="true" style="color:green;padding-right:0.8vw;"></i>zona 02</div>
				<div><i class="fa fa-check-square" aria-hidden="true" style="color:rgb(25, 0, 255);padding-right:0.8vw;"></i>zona 03</div>
				<div><i class="fa fa-check-square" aria-hidden="true" style="color:purple;padding-right:0.8vw;"></i>zona 04</div>
				<div><i class="fa fa-check-square" aria-hidden="true" style="color:rgb(255, 60, 0);padding-right:0.8vw;"></i>zona 05</div>
			</div>
	  </div>
	</div>
	<div class="chart-two">
		<div class="chart-title">Count by zones</div>
			<canvas id="barcanvas"></canvas>
	</div>
	<div class="chart-three">
		<div class="chart-title">Speed Average</div>
	  <canvas id="piecanvas"></canvas>
	</div>
</div>